mat-card {
    border-radius: 10px;
}

mat-card-content {
    overflow: auto;
}

.authentication-keys-container {
    padding: 2em;
}

.authentication-keys-card {
    box-sizing: border-box;
    width: 20em;
    height: 20em;
}

.spacer {
    margin: 2em;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1px;
}

.auth-key-button {
    overflow: hidden;
    width:auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}