image: castlecraft/node-latest-headless-chrome:1.0

services:
  - docker:dind
  - mongo

stages:
  - tests
  - pack
  - docs

test_async:
  stage: tests
  variables:
    SESSION_SECRET: "secret"
    EXPIRY_DAYS: "1"
    COOKIE_MAX_AGE: "43200"
    TOKEN_VALIDITY: "3600"
    SESSION_NAME: "E2E_SESSION"
    DB_HOST: "mongo"
    DB_NAME: "test-e2e-idp"
    DOCKERIZE_VERSION: "v0.6.1"
  before_script:
   - apt-get install -y wget
   - wget https://github.com/jwilder/dockerize/releases/download/$DOCKERIZE_VERSION/dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && tar -C /usr/local/bin -xzvf dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && rm dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz
   # Launch Xvfb
   - Xvfb :0 -ac -screen 0 1024x768x24 &
   # Export display for Chrome
   - export DISPLAY=:99
   # Create .env file
   - dockerize -template apps/authorization-server/docker/env.tmpl:apps/authorization-server/.env
  script:
   - npm install -g lerna
   - yarn
   - lerna clean -y
   - lerna bootstrap
   - lerna run lint
   - lerna run format:check
   - yarn test
   - lerna run test:e2e
   - yarn e2e
  tags:
    - docker

pack_staging:
  image: docker
  stage: pack
  environment: staging
  only:
    - staging
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    # Authorization Server
    # get latest tag for app in staging branchs
    - export IDPVERSION=$(echo $CI_COMMIT_SHA | cut -c1-7)
    - docker build -t authorization-server apps/authorization-server
    - docker tag authorization-server $CI_REGISTRY/castlecraft/building-blocks/authorization-server:$IDPVERSION
    - docker push $CI_REGISTRY/castlecraft/building-blocks/authorization-server:$IDPVERSION

pack_production:
  image: docker
  stage: pack
  environment: production
  only:
    - master
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    # Authorization Server
    # get latest tag for app in master branchs
    - export IDPVERSION=$(git tag --list "authorization-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build -t authorization-server apps/authorization-server
    - docker tag authorization-server $CI_REGISTRY/castlecraft/building-blocks/authorization-server:$IDPVERSION
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker push $CI_REGISTRY/castlecraft/building-blocks/authorization-server:$IDPVERSION

pages:
  stage: docs
  before_script:
    - npm install lerna -g
    - npm install gitbook-cli -g
    - npm install typedoc -g
    - gitbook fetch latest # fetch latest stable version
    # - gitbook install # add any requested plugins in book.json
  script:
    - yarn
    - lerna bootstrap
    - gitbook build docs public # build to public path
    - yarn docs
  artifacts:
    paths:
      - public
    expire_in: 4 weeks
