image: castlecraft/node-latest-headless-chrome:1.0

services:
  - docker:dind
  - mongo

stages:
  - tests
  - pack
  - docs

test_async:
  stage: tests
  before_script:
   # Launch Xvfb
   - Xvfb :0 -ac -screen 0 1024x768x24 &
   # Export display for Chrome
   - export DISPLAY=:99
  script:
   - npm install -g lerna
   - yarn
   - lerna clean -y
   - lerna bootstrap
   - lerna run lint
   - lerna run format:check
   - yarn test
   - lerna run test:e2e
   - yarn e2e
  tags:
    - docker

pack_staging:
  image: docker
  stage: pack
  environment: staging
  only:
    - staging
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    # Identity Provider
    # get latest tag for app in staging branchs
    - export IDPVERSION=$(echo $CI_COMMIT_SHA | cut -c1-7)
    - docker build -t identity-provider apps/identity-provider
    - docker tag identity-provider $CI_REGISTRY/castlecraft/building-blocks/identity-provider:$IDPVERSION
    - docker push $CI_REGISTRY/castlecraft/building-blocks/identity-provider:$IDPVERSION

pack_production:
  image: docker
  stage: pack
  environment: production
  only:
    - master
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    # Identity Provider
    # get latest tag for app in master branchs
    - export IDPVERSION=$(git tag --list "identity-provider@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build -t identity-provider apps/identity-provider
    - docker tag identity-provider $CI_REGISTRY/castlecraft/building-blocks/identity-provider:$IDPVERSION
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker push $CI_REGISTRY/castlecraft/building-blocks/identity-provider:$IDPVERSION

pages:
  stage: docs
  before_script:
    - npm install lerna -g
    - npm install gitbook-cli -g
    - npm install typedoc -g
    - gitbook fetch latest # fetch latest stable version
    # - gitbook install # add any requested plugins in book.json
  script:
    - yarn
    - lerna bootstrap
    - gitbook build docs public # build to public path
    - yarn docs
  artifacts:
    paths:
      - public
    expire_in: 4 weeks
