image: castlecraft/node-latest-headless-chrome:1.2

services:
  - docker:dind
  - mongo

stages:
  - tests
  - pack
  - docs

before_script:
  - npm install -g lerna
  - yarn
  - lerna clean -y
  - lerna bootstrap

test_backend:
  stage: tests
  variables:
    SESSION_SECRET: "secret"
    EXPIRY_DAYS: "1"
    COOKIE_MAX_AGE: "43200"
    TOKEN_VALIDITY: "3600"
    SESSION_NAME: "E2E_SESSION"
    DB_HOST: "mongo"
    DB_NAME: "test-e2e-idp"
  script:
    # Create .env file
    - dockerize -template apps/authorization-server/docker/env.tmpl:apps/authorization-server/.env
    - lerna run lint
    - lerna run format:check
    - yarn test
    - lerna run test:e2e
  tags:
    - docker

test_frontend_authorization_server:
  stage: tests
  script:
    # Launch Xvfb
    - Xvfb :0 -ac -screen 0 1024x768x24 &
    # Export display for Chrome
    - export DISPLAY=:99
    - export NODE_ENV=test && lerna run e2e --scope authorization-server
    - export NODE_ENV=test && lerna run test:client --scope authorization-server
  tags:
    - docker

pack_staging:
  image: docker
  stage: pack
  environment: staging
  only:
    - staging
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    # Authorization Server
    # get latest tag for app in staging branchs
    - export IDPVERSION=$(echo $CI_COMMIT_SHA | cut -c1-7)
    - docker build -t authorization-server apps/authorization-server
    - docker tag authorization-server $CI_REGISTRY/castlecraft/building-blocks/authorization-server:$IDPVERSION
    - docker push $CI_REGISTRY/castlecraft/building-blocks/authorization-server:$IDPVERSION

pack_production:
  image: docker
  stage: pack
  environment: production
  only:
    - master
  before_script:
    - apk add git
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    # Authorization Server
    # get latest tag for app in master branchs
    - export IDPVERSION=$(git tag --list "authorization-server@*" --sort=-version:refname | sed -n 1p | sed -e 's#.*@\(\)#\1#')
    - docker build -t authorization-server apps/authorization-server
    - docker tag authorization-server $CI_REGISTRY/castlecraft/building-blocks/authorization-server:$IDPVERSION
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker push $CI_REGISTRY/castlecraft/building-blocks/authorization-server:$IDPVERSION

pages:
  stage: docs
  script:
    - npm install gitbook-cli -g
    - npm install typedoc -g
    - gitbook fetch latest # fetch latest stable version
    # - gitbook install # add any requested plugins in book.json
    - gitbook build docs public # build to public path
    - yarn docs
  artifacts:
    paths:
      - public
    expire_in: 4 weeks
