mat-card {
    border-radius: 10px;
}

.login-container {
    padding: 2em;
}

.login-card {
    box-sizing: border-box;
    width: 20em;
    height: 20em;
}

.social-login-card {
    box-sizing: border-box;
    width: 20em;
    height: auto;
}

.social-login-buttons {
    overflow: auto;
}

mat-card-header {
    margin: auto;
}

.spacer {
    margin: 2em;
}

.brand-logo {
    max-width: 10em;
}
