<mat-grid-list cols="1" rowHeight="30em">
  <mat-grid-tile>
    <form>
      <mat-card>
        <mat-card-title i18n="@@signIn">Sign in</mat-card-title>
        <mat-card-content>
          <div class="login container" [hidden]="!showUsername">
            <mat-form-field class="full-width">
              <input [(ngModel)]="username" matInput i18n-placeholder="@@usernameOrPhone" placeholder="Username or phone" name="username"
              class="form-control" required>
            </mat-form-field>
            <div>
              <button (click)="verifyUser()" mat-raised-button color="primary" i18n="@@next">Next</button>
              <a routerLink="/signup" class="left-margin-30" i18n="@@signUp">Signup</a>
            </div>
          </div>
          <div class="password" [hidden]="!showPassword">
            <mat-form-field class="full-width">
              <input [(ngModel)]="password" matInput i18n-placeholder="@@password" placeholder="Password" type="password" name="password" required>
            </mat-form-field>
            <div>
                <button (click)="onSubmit()" mat-raised-button color="primary" i18n="@@login">Login</button>
                <a (click)="forgotPassword()" class="left-margin-30" i18n="@@forgot">Forgot?</a>
            </div>
          </div>
          <div class="otp" [hidden]="!showCode">
            <mat-form-field class="full-width">
                <input [(ngModel)]="code" matInput i18n-placeholder="@@otp" placeholder="OTP" name="code">
            </mat-form-field>
            <div>
              <button (click)="onSubmit()" mat-raised-button color="primary" i18n="@@login">Login</button>
              <a (click)="resendOTP()" class="left-margin-30" i18n="@@resendOTP">Resend OTP?</a>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-grid-tile>
</mat-grid-list>