<mat-grid-list cols="1" rowHeight="30em">
  <mat-grid-tile>
      <mat-card>
        <mat-card-title i18n="@@signIn">Sign in</mat-card-title>
        <mat-card-content>
          <form [formGroup]="verifyUserForm">
            <div class="login container" [hidden]="hideUsername">
                <mat-form-field class="full-width">
                  <input matInput i18n-placeholder="@@usernameOrPhone"
                  placeholder="Username or phone" formControlName="username"
                  class="form-control" required>
                </mat-form-field>
                <div>
                  <button (click)="verifyUser()"
                    mat-raised-button
                    color="primary"
                    i18n="@@next">Next</button>
                  <a routerLink="/signup" class="left-margin-30" i18n="@@signUp">Sign Up</a>
                </div>
            </div>
            <div class="password" [hidden]="hidePassword">
              <mat-form-field class="full-width">
                <input matInput i18n-placeholder="@@password"
                placeholder="Password" type="password"
                formControlName="password" required>
              </mat-form-field>
              <div>
                  <button (click)="onSubmitPassword()"
                    mat-raised-button color="primary"
                    i18n="@@login">Login</button>
                  <a (click)="forgotPassword()" class="left-margin-30" i18n="@@forgot">Forgot?</a>
              </div>
            </div>
          </form>
          <div class="otp" [hidden]="hideCode">
            <form [formGroup]="submitOTPForm">
              <mat-form-field class="full-width">
                  <input matInput i18n-placeholder="@@otp" placeholder="OTP"
                  formControlName="code">
              </mat-form-field>
              <div>
                <button (click)="onSubmitOTP()"
                  mat-raised-button
                  color="primary"
                  i18n="@@login">Login</button>
                <a (click)="resendOTP()" class="left-margin-30" i18n="@@resendOTP">Resend OTP?</a>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>