<mat-drawer-container class="sidenav-container">
  <mat-drawer
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [disableClose]="!(isHandset$ | async)"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Admin</mat-toolbar>
    <ng-container *ngIf="tokenIsValid">
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>Authorization</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/client/list">Clients</a>
            <a mat-list-item routerLink="/role/list">Roles</a>
            <a mat-list-item routerLink="/user/list">Users</a>
            <a mat-list-item routerLink="/scope/list">Scopes</a>
            <a mat-list-item routerLink="/social_login/list">Social Login</a>
            <a mat-list-item routerLink="/auth_settings">Settings</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>Infrastructure</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/service/list">Services</a>
            <a mat-list-item routerLink="/service_type/list">Service Types</a>
            <a mat-list-item routerLink="/infrastructure_settings">Settings</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
    <ng-container *ngIf="tokenIsValid && isCommunicationEnabled">
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>Communication</mat-panel-title>
          </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLink="/email/list">Email</a>
              <a mat-list-item routerLink="/storage/list">Storage</a>
              <!-- <a mat-list-item routerLink="/oauth2_provider/list">OAuth2 Provider</a> -->
              <a mat-list-item routerLink="/communication_settings">Settings</a>
            </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
    <ng-container *ngIf="tokenIsValid && isIdentityProviderAvailable">
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>Identity Provider</mat-panel-title>
          </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLink="/idp_settings">Settings</a>
            </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>Account</mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngIf="!loggedIn" (click)="login()">Login</a>
          <a mat-list-item *ngIf="loggedIn" (click)="logout()">Logout</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <button
      class="fab-container"
      (click)="addModel()"
      mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>
