<div class="card-container">
  <form (ngSubmit)="updateAuthSettings()" [formGroup]="authSettingsForm">
    <mat-card>
      <mat-card-title>Authorization Server Settings</mat-card-title>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput formControlName="issuerUrl" placeholder="Server Url" readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Communication Server Client ID"
            formControlName="communicationServerClientId">
            <mat-option *ngFor="let client of clientList" [value]="client.clientId">
              {{ client.name + " (" + client.clientId + ")"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Identity Provider Client ID"
            formControlName="identityProviderClientId">
            <mat-option *ngFor="let client of clientList" [value]="client.clientId">
              {{ client.name + " (" + client.clientId + ")"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Infrastructure Console Client ID"
            formControlName="infrastructureConsoleClientId">
            <mat-option *ngFor="let client of clientList" [value]="client.clientId">
              {{ client.name + " (" + client.clientId + ")"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-button color="primary" [disabled]="!authSettingsForm.valid">Update</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
