@import '~@angular/material/theming';

@include mat-core();

$base-app-primary: mat-palette($mat-indigo);
$base-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$base-app-theme: mat-light-theme($base-app-primary, $base-app-accent);

@function base-mat-light-theme-foreground($color) {
    @return (
        base:              $color,
        divider:           $white-12-opacity,
        dividers:          $white-12-opacity,
        disabled:          rgba($color, 0.38),
        disabled-button:   rgba($color, 0.38),
        disabled-text:     rgba($color, 0.38),
        hint-text:         rgba($color, 0.38),
        secondary-text:    rgba($color, 0.54),
        icon:              rgba($color, 0.54),
        icons:             rgba($color, 0.54),
        text:              rgba($color, 0.87),
        slider-off:        rgba($color, 0.26),
        slider-off-active: rgba($color, 0.38),
        slider-min:        rgba($color, 0.38)
    );
};

$white-foreground: base-mat-light-theme-foreground(white);
$base-app-theme-custom: map-merge($base-app-theme, (foreground: $white-foreground));

@include angular-material-theme($base-app-theme-custom);

/* For the non-Angular Material items */
body {
    color: white;
}
