apiVersion: v1
kind: Namespace
metadata:
  name: example

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: example-user
  namespace: example

---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: example-user-full-access
  namespace: example
rules:
- apiGroups: ["", "extensions", "apps", "networking.k8s.io", "rbac.authorization.k8s.io"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["batch"]
  resources:
  - jobs
  - cronjobs
  verbs: ["*"]

---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: example-user-view
  namespace: example
subjects:
- kind: ServiceAccount
  name: example-user
  namespace: example
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: example-user-full-access
