<mat-grid-list cols="1" rowHeight="3:1">
  <mat-grid-tile>
    <form (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-title>Server Settings</mat-card-title>
        <mat-card-content>
          <mat-form-field class="full-width">
            <input [(ngModel)]="settings.appURL" matInput placeholder="Server URL" name="appURL" required>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-button>Save</button>
        </mat-card-actions>
      </mat-card>    
    </form>
  </mat-grid-tile>
</mat-grid-list>