version: '3'

services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-vol:/data/db

  identity-provider:
    # image: registry.gitlab.com/castlecraft/building-blocks/identity-provider:latest
    image: identity-provider:latest
    ports:
      - "3200:3200"
    depends_on:
      - mongo
    links:
      - mongo
    environment:
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - NODE_ENV=${NODE_ENV}
    volumes:
      - identity-provider-vol:/home/craft/identity-provider/files

volumes:
  mongo-vol:
  identity-provider-vol:
