<div class="card-container">
  <form [formGroup]="userForm">
    <mat-card>
      <mat-card-title>{{ fullName || "New User" }}</mat-card-title>
      <mat-card-content fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Full Name" formControlName="fullName" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Phone Number" formControlName="userPhone" [readonly]="uuid">
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Email" formControlName="userEmail" [readonly]="uuid">
              <mat-checkbox formControlName="isDisabled" matSuffix>Disable User</mat-checkbox>
          </mat-form-field>
          <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="userPassword">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Roles" formControlName="userRole" multiple>
              <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
            </mat-select>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayout="row">
          <button (click)="createUser()" mat-flat-button color="primary" [disabled]="!userForm.valid" *ngIf="!uuid">Create</button>
          <button (click)="updateUser()" mat-flat-button color="primary" [disabled]="!userForm.valid" *ngIf="uuid">Update</button>
          <button (click)="manageAuthUser()" mat-flat-button [disabled]="!userForm.valid" *ngIf="uuid">Manage Keys</button>
          <button *ngIf="!enablePasswordLess && uuid" (click)="enablePasswordLessLogin()" mat-flat-button [disabled]="!userForm.valid">Enable Password-less</button>
          <button *ngIf="enablePasswordLess && uuid" (click)="disablePasswordLessLogin()" mat-flat-button [disabled]="!userForm.valid">Disable Password-less</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>