<div class="apps-container" *ngFor="let a of [1,2,3,4,5]">
  <mat-card>
    <mat-card-title> App {{ a }} </mat-card-title>
    <mat-card-subtitle>App Description</mat-card-subtitle>
    <mat-card-content fxLayout="column" fxAlignLayout="space-evenly none" fxLayoutGap="1em">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam placeat cupiditate laborum? Est ad nam adipisci explicabo. Voluptatem, fugit sequi quibusdam aut consectetur perferendis facilis earum maxime repellat. Necessitatibus, doloremque.
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        color="primary">
        Revoke
      </button>
    </mat-card-actions>
  </mat-card>
</div>
