<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="2em"
  class="verify-container">
  <form (ngSubmit)="onSubmit()">
    <mat-card class="verify-signup-card">
      <mat-card-title i18n="@@setPassword">Set Password</mat-card-title>
      <mat-card-content>
        <mat-form-field class="full-width">
          <input type="password" [(ngModel)]="newPassword"
            matInput i18n-placeholder="@@password" placeholder="Password" name="newPassword" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="password" [(ngModel)]="repeatPassword"
            matInput i18n-placeholder="@@password" placeholder="Password" name="repeatPassword" required>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" i18n="@@update">Update</button>
      </mat-card-actions>
    </mat-card>
  </form>
  <mat-card>
    <app-password-requirement></app-password-requirement>
  </mat-card>
</div>
