<div class="profile-container">
  <form (ngSubmit)="updatePersonal()" [formGroup]="personalForm">
    <mat-card>
      <mat-card-title>Stub Title</mat-card-title>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput formControlName="fullName" placeholder="Full Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="givenName" placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="middleName" placeholder="Middle Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="familyName" placeholder="Last Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="nickname" placeholder="Nickname">
        </mat-form-field>
        <mat-form-field>
          <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
          <input
            matInput
            formControlName="birthdate"
            [matDatepicker]="birthdatePicker"
            placeholder="Birthdate"
            [value]="birthdate"
            (dateInput)="updateBirthdate('input', $event)">
          <mat-datepicker #birthdatePicker disabled="false"></mat-datepicker>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-button color="primary" [disabled]="!personalForm.valid">{{ updateConstant }}</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
<div class="profile-container">
  <form (ngSubmit)="updateProfile()" [formGroup]="profileForm">
    <mat-card>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput formControlName="website" placeholder="Website">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
          <button type="submit" mat-button color="primary">{{ updateConstant }}</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
<div class="profile-container">
  <mat-card>
    <mat-card-title>Stub Title</mat-card-title>
    <mat-card-subtitle>Roles and Groups</mat-card-subtitle>
    <mat-card-content fxLayout="column" fxAlignLayout="space-evenly none" fxLayoutGap="1em">
      <mat-chip-list>
        <mat-chip *ngFor="let role of roles" disabled>
          {{ role.charAt(0).toUpperCase() + role.substr(1).toLowerCase() }}
        </mat-chip>
      </mat-chip-list>
      <hr/>
      <mat-chip-list>
        <mat-chip *ngFor="let group of groups" disabled selected color="accent">
          {{ group.charAt(0).toUpperCase() + group.substr(1).toLowerCase() }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
<div class="profile-container">
  <mat-card>
    <mat-card-title>Stub Title</mat-card-title>
    <mat-card-subtitle>Multi Factor Authentication</mat-card-subtitle>
    <mat-card-content fxLayout="column" fxAlignLayout="space-evenly none" fxLayoutGap="1em">
      <mat-slide-toggle
        [checked]="checked2fa"
        disabled>
        {{ checked2fa ? 'Enabled' : 'Disabled' }}
      </mat-slide-toggle>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        (click)="enableDisable2fa()">
        {{ checked2fa ? 'Disable' : 'Enable' }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
