apiVersion: v2
name: blocks
description: A Helm chart for Kubernetes
type: application
version: 2.3.1
appVersion: 6.3.1
dependencies:
- name: emqx
  version: "4.2.0"
  repository: "https://repos.emqx.io/charts"
  condition: emqx.enabled
- name: mongodb
  version: "8.2.1"
  repository: "https://charts.bitnami.com/bitnami"
  condition: mongodb.enabled
