apiVersion: v2
name: blocks
description: A Helm chart for Kubernetes
type: application
version: 1.0.0
appVersion: 5.0.0
dependencies:
- name: redis-cluster
  version: "3.1.6"
  repository: "https://charts.bitnami.com/bitnami"
  condition: redis-cluster.enabled
- name: mongodb
  version: "8.2.1"
  repository: "https://charts.bitnami.com/bitnami"
  condition: mongodb.enabled
